@media screen and (max-width: 375px) {
  .cardForSale_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 170px;
    height: 234px;

    background-color: #161616;

    box-sizing: border-box;
    padding: 10px 10px;

    position: relative;
  }
  .cardForSale_img {
    width: 150px;
    height: 112px;
  }

  .cardForSale_state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 15px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_state.wait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 15px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_state_text {
    font-weight: 400;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #ffffff;
  }

  .cardForSale_state_text.wait {
    font-weight: 400;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #efff04;
  }
  .cardForSale_state_img {
    width: 112px;
    height: 112px;
  }

  .cardForSale_state.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 112px;
    position: absolute;
    left: 10px;
    top: 10px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_mid_container {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 92px;

    box-sizing: border-box;
    margin-top: 10px;

    gap: 5px;
  }

  .cardForSale_text_container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 167px;
  }

  .mid_name {
    font-weight: 700;
    font-size: 0.875rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 20.27px;
    color: #ffffff;
  }

  .mid_container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 14px;
  }

  .grade_genre_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 76px;
    height: 100%;

    gap: 5px;
  }
  .card_grade {
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 14.48px;
  }
  .card_verLine {
    width: 3px;
    height: 14px;
  }
  .card_genre {
    font-weight: 400;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #a4a4a4;
  }
  .card_userName {
    font-weight: 400;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #ffffff;
  }
  .mid_container_line {
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 100%;
    height: auto;
  }
  .price_counts {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .price_counts_left {
    font-weight: 300;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #a4a4a4;
  }

  .price_counts_right {
    font-weight: 400;
    font-size: 0.625rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 14.48px;
    color: #ffffff;
  }

  .cardForSale_logo {
    width: 99.25px;
    height: 18px;
    display: none;
  }
}

@media screen and (max-width: 744px) and (min-width: 376px) {
  .cardForSale_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 342px;
    height: 517px;

    background-color: #161616;

    box-sizing: border-box;
    padding: 20px 20px;

    position: relative;
  }
  .cardForSale_img {
    width: 302px;
    height: 226.5px;
  }

  .cardForSale_state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 28px;
    position: absolute;
    left: 30px;
    top: 30px;

    background-color: rgba(0, 0, 0, 0.5);
  }
  .cardForSale_state.wait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 28px;
    position: absolute;
    left: 30px;
    top: 30px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_state_text {
    font-weight: 400;
    font-size: 0.75rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #ffffff;
  }
  .cardForSale_state_text.wait {
    font-weight: 400;
    font-size: 0.75rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #efff04;
  }
  .cardForSale_state_img {
    width: 230px;
    height: 230px;
  }

  .cardForSale_state.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 226.5px;
    position: absolute;
    left: 20px;
    top: 20px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_mid_container {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 167px;

    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 40px;

    gap: 10px;
  }

  .cardForSale_text_container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 167px;
  }

  .mid_name {
    font-weight: 700;
    font-size: 1.375rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 31.86px;
    color: #ffffff;
  }

  .mid_container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 23px;
  }

  .grade_genre_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 125px;
    height: 100%;

    gap: 10px;
  }
  .card_grade {
    font-size: 1rem;
    font-weight: 300;
    line-height: 23.17px;
  }
  .card_verLine {
    width: 5px;
    height: 23px;
  }
  .card_genre {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #a4a4a4;
  }
  .card_userName {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #ffffff;
  }
  .mid_container_line {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    height: auto;
  }
  .price_counts {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .price_counts_left {
    font-weight: 300;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #a4a4a4;
  }

  .price_counts_right {
    font-weight: 400;
    font-size: 1.125rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 26.06px;
    color: #ffffff;
  }

  .cardForSale_logo {
    width: 99.25px;
    height: 18px;
  }
}

@media screen and (min-width: 745px) {
  .cardForSale_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 440px;
    height: 600px;

    background-color: #161616;

    box-sizing: border-box;
    padding: 40px 40px;

    position: relative;
  }

  .cardForSale_state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 31px;
    position: absolute;
    left: 50px;
    top: 50px;

    background-color: rgba(0, 0, 0, 0.5);
  }
  .cardForSale_state.wait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 31px;
    position: absolute;
    left: 50px;
    top: 50px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardForSale_state_text {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #ffffff;
  }
  .cardForSale_state_text.wait {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #efff04;
  }
  .cardForSale_state_img {
    width: 230px;
    height: 230px;
  }

  .cardForSale_state.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 270px;
    position: absolute;
    left: 40px;
    top: 40px;

    background-color: rgba(0, 0, 0, 0.5);
  }
  .cardForSale_img {
    width: 360px;
    height: 270px;
  }
  .cardForSale_mid_container {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 167px;

    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 40px;

    gap: 10px;
  }

  .cardForSale_text_container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 167px;
  }

  .mid_name {
    font-weight: 700;
    font-size: 1.375rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 31.86px;
    color: #ffffff;
  }

  .mid_container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 23px;
  }

  .grade_genre_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;

    width: 125px;
    height: 100%;
  }
  .card_grade {
    font-size: 1rem;
    font-weight: 300;
    line-height: 23.17px;
  }
  .card_verLine {
    width: 5px;
    height: 23px;
  }
  .card_genre {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #a4a4a4;
  }
  .card_userName {
    font-weight: 400;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #ffffff;
  }
  .mid_container_line {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    height: auto;
  }
  .price_counts {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .price_counts_left {
    font-weight: 300;
    font-size: 1rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 23.17px;
    color: #a4a4a4;
  }

  .price_counts_right {
    font-weight: 400;
    font-size: 1.125rem; /* 16 : 22 = 1 : 1.375*/
    line-height: 26.06px;
    color: #ffffff;
  }

  .cardForSale_logo {
    width: 99.25px;
    height: 18px;
  }
}
