.modal_Wrapper {
  background-color: rgba(0, 0, 0, 1);

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 2000;
}

.modal_Container {
  width: 100vw;
  max-width: 768px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal_loding {
  width: 100px;
  height: 100px;
  animation: rotate 1.5s infinite;
  box-sizing: border-box;
  margin-bottom: 24px;
  animation: rotate infinite 1s linear;
}

.modal_subText {
  font-size: 0.875rem;
  font-weight: 400;
  color: #d9d9d9;
  box-sizing: border-box;
  margin-bottom: 8px;
}
