.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section:first-child {
  padding-top: 0px;
}

.section:not(:last-child) {
  border-bottom: 1px solid #5A5A5A;
}

.boxPerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 20px
}

.quantityBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 20px;
}

.labelBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 41px 0px;
}

.controllerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0px;
  flex-basis: 246px;
}

.gapSmall {
  gap: 10px;
}

.gapLarge {
  gap: 20px;
}

.gradeGenre {
  display: flex;
  justify-content: flex-start;
  gap: 0px 15px;
}

.priceQuantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0px 10px;
}

.space {
  height: 50px;
}

/* 추후 별도 분리를 염두 > inputPoint css*/
.inputContainer {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  background-color: #161616;
  border: 1px solid #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pointInput {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: inherit;
  color: #DDDDDD;
  font-size: 1rem;
  text-align: left;
}

.inputContainer:hover {
  background-color: #0F0F0F;
}

.spanP {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
}


@media (max-width: 744px) {
  .pointInput {
    font-size: 0.875rem;
  }

 .spanP {
  font-size: 1.125rem;
  }

  .quantityBox {
    gap: 0px 15px
  }

  .labelBox {
    gap: 39.5px 0px
  }
  .controllerBox {
    flex-basis: 202px;
  }
}