.dropdownMenu {
  position: absolute;
  color: #ffffff;
  background-color: #161616;
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;

}

.option {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.option:hover {
  cursor: pointer;
  background-color: #A4A4A4;
}

@media (max-width: 1199px) {
  .dropdownMenu {
    font-size: 14px;
  }
}

@media (max-width: 743px) {
  .dropdownMenu {
    font-size: 12px;
  }
}
