.listRenderContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 440px)); /* 3개의 카드 */
  justify-content: space-between;
  width: 100%; /* 부모 컨테이너의 너비 */
  gap: 80px 30px;
}

.listRenderOnMoalContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 440px)); /* 3개의 카드 */
  justify-content: space-between;
  width: 100%; /* 부모 컨테이너의 너비 */
  gap: 80px 20px;
}

.loading {
  font-size: 10rem;
  color: azure;
}

.errorContainer {
  width: 100%;
  height: 800px;
  font-size: 5rem;
  color: azure;
}

.space {
  width: 100%;
  height: 300px;
}

@media (max-width: 1400px) {
  .listRenderContainer,
  .listRenderOnMoalContainer {
    gap: 50px 30px;
  }
}

@media (max-width: 1000px) {
  .listRenderContainer {
    grid-template-columns: repeat(2, minmax(100px, 440px));
  }
}

@media (max-width: 800px) {
  .listRenderContainer,
  .listRenderOnMoalContainer {
    gap: 20px 20px;
  }
}

@media (max-width: 500px) {
  .listRenderContainer,
  .listRenderOnMoalContainer {
    gap: 5px 5px;
  }
}