
.white {
  color: #FFFFFF;
}

.gray {
  color: #A4A4A4;
}

.darkGray {
  color: #5A5A5A;
}

.huge {
  font-size: 1.75rem;
  font-weight: 700;
}

.large {
  font-size: 1.5rem;
  font-weight: 700;
}

.largeThin {
  font-size: 1.5rem;
  font-weight: 400;
}

.largeUnderline {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
}

.middle {
  font-size: 1.25rem;
  font-weight: 400;
}

.middleBold {
  font-size: 1.25rem;
  font-weight: 700;
}

.small {
  font-size: 1.125rem;
  font-weight: 400;
}

.verySmall {
  font-size: 0.875rem;
  font-weight: 300;
}

.common {
  color: #EFFF04;
}

.rare {
  color: #29C9F9;
}

.superRare {
  color: #A77EFF;
}

.legendary {
  color: #FF2A6A;
}