.sectionUserState {
  width: 100%;
  padding: 40px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  border-bottom: 1px solid #5A5A5A;
}

.SaleState {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #DDDDDD;
}

.totalPhotoCount {
  font-size: 1.25rem;
  font-weight: 400;
  color: #A4A4A4;
}

.gradeContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0px 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}


@media (max-width: 1000px) {
  .sectionUserState {
    gap: 10px 0px;
  }
  .SaleState {
    font-size: 1.25rem;
  }
  .totalPhotoCount {
    font-size: 1.125rem;
  }
}

