.container {
  padding: 13px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #DDDDDD;
  background-color: #0F0F0F;
}

.input {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: left;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}