.dropdownContainer {
  position: relative;
  width: 100%;
}

.dropdownNormal {
  display: flex;
  position: relative;
}

.borderButton {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDDDD;
  background-color: inherit;
  padding: 10px 10px 10px 20px;
  font-weight: 300;
  font-size: 1rem;
  color: #DDDDDD;
  &:hover {
    cursor: pointer;
    background-color: #4b4b4b;
  }
}

.arrowIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.normalButton .arrowIcon {
  margin-left: 10px;
}

.menuOpen {
  transform: rotate(180deg);
}


.option:hover {
  cursor: pointer;
  background-color: #111111;
}

@media (max-width: 1000px) {
  .borderButton {
    font-size: 0.875rem;
  }
}

