.main {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1480px;
  width: 100%;
}

.header {
  width: 100%;
  padding: 60px 0px 20px 0px;
  display: flex;
  border-bottom: 2px solid #EEEEEE
}

.headerText {
  font-size: 3.875rem;
  font-family: "BR B";
  font-weight: 400;
  color: #FFFFFF;
}

.sectionUserState {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  border-bottom: 1px solid #5A5A5A;
}

.SaleState {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #DDDDDD;
}

.totalPhotoCount {
  font-size: 1.25rem;
  font-weight: 400;
  color: #A4A4A4;
}

.gradeContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0px 20px;
}

.sectionFilter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
  gap: 0px 60px;
}

.searchBarSize {
  width: 320px;
}

.dropDownBox {
  display: flex;
  justify-content: flex-start;
  gap: 0px 45px;
}

.sectionPhotoList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 20px;
}

.boxSize {
  max-width: 440px;
}

/* FilterGrade 컴포넌트 */
.gradeBox {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.common {
  color: #EFFF04;
  border: 1px solid #EFFF04;
}

.rare {
  color: #29C9F9;
  border: 1px solid #29C9F9;
}

.superrare {
  color: #A77EFF;
  border: 1px solid #A77EFF;
}

.legendary {
  color: #FF2A6A;
  border: 1px solid #FF2A6A;
}
/* FilterGrade 컴포넌트 */