.imgCard {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.imgCardWrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.cardImage {
  width: 100%;
  height: auto;
}
.cardContent {
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cardTitle {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.cardSubtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5a5a5a;
  font-size: 16px;
}
.cardGrade {
  font-weight: 300;
  padding-right: 10px;
}
.cardGenre {
  font-weight: 400;
  color: #a4a4a4;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #5a5a5a;
}
.cardPrice {
  width: 100%;
  display: flex;
  align-items: center;
}
.price {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 4px;
  padding-left: 10px;
  border-left: 1px solid #5a5a5a;
}
.priceDesc {
  font-size: 16px;
  font-weight: 300;
  padding-left: 4px;
  color: #a4a4a4;
}
.cardNickname {
  font-weight: 400;
  color: #a4a4a4;
  text-decoration: underline;
  margin-left: auto;
}
.common {
  color: #efff04;
}
.rare {
  color: #29c9f9;
}
.superRare {
  color: #a77eff;
}
.legendary {
  color: #ff2a6a;
}
.cardDescription {
  width: 100%;
  color: #ffffff;
  margin-top: 20px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1199px) {
  .imgCard {
    padding: 20px;
  }
  .cardContent {
    margin-bottom: 30px;
  }
}
@media (max-width: 743px) {
  .imgCard {
    padding: 10px;
  }
  .cardContent {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .cardTitle {
    font-size: 14px;
  }
  .cardSubtitle {
    font-size: 13px;
  }
  .priceName,
  .price,
  .priceDesc,
  .cardNickname {
    font-size: 10px;
  }
  .buttonWrapper {
    gap: 5px;
  }
}
