.gradeBox {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.common {
  color: #EFFF04;
  border: 1px solid #EFFF04;
}

.rare {
  color: #29C9F9;
  border: 1px solid #29C9F9;
}

.superrare {
  color: #A77EFF;
  border: 1px solid #A77EFF;
}

.legendary {
  color: #FF2A6A;
  border: 1px solid #FF2A6A;
}