.contaier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 440px;
  width: 100%;
  padding: 40px;
  background-color: #161616;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.imgWrapper {
  position: relative;
  aspect-ratio: 4 / 3;
  height: 100%;
  overflow: hidden;
  background-color: #161616;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.soldOut {
  opacity: 0.4;
}

.soldOutImage {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.contentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0px;
  border-bottom: 1px solid #5A5A5A;
  color: #FFFFFF;
  font-size: 1.375rem;
  font-weight: 700;
  text-overflow: ellipsis;
}

.subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.infoLeftBox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #a4a4a4;
}

.nickname {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: underline;
  color: #FFFFFF;
}

.quntitySection {
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px 0px;

}

.price,
.remain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: #a4a4a4;
}

.whiteCount {
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 400;
}

.grayCount {
  font-size: 1.125rem;
  color: #a4a4a4;
  font-weight: 300;
}

.common,
.rare,
.superrare,
.legendary {
  font-size: 1rem;
  font-weight: 300;
}

.common {
  color: #EFFF04;
}

.rare {
  color: #29C9F9;
}

.superrare {
  color: #A77EFF;
}

.legendary {
  color: #FF2A6A;
}